<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <system.serviceModel>
    <services>
      <service name="Service.EmployeeService">
        <endpoint behaviorConfiguration="webHttp"
                  address="http://ZhangJin-PC:3721/employees"
                  binding="webHttpBinding"
                  contract="Service.Interface.IEmployees" />
      </service>
    </services>
  <behaviors>
    <endpointBehaviors>
      <behavior name="webHttp">
        <webHttp helpEnabled="true" automaticFormatSelectionEnabled="true"
          faultExceptionEnabled="true" />
      </behavior>
    </endpointBehaviors>
  </behaviors>
  </system.serviceModel>
</configuration>