<?xml version="1.0" encoding="utf-8"?>

<!--
  有关如何配置 ASP.NET 应用程序的详细信息，请访问
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>
  <system.web>
    <compilation debug="true" targetFramework="4.0" />

  </system.web>
  <system.webServer>
    <handlers>
      <add name="frontController" verb="*" path="*.catalog" 
           type="ASPPatterns.Chap8.FrontController.Controller.CustomHTTPHandler, ASPPatterns.Chap8.FrontController.Controller"/>
    </handlers>
  </system.webServer>

</configuration>
