<?xml version="1.0" encoding="UTF-8"?>
<!--
  有关如何配置 ASP.NET 应用程序的详细信息，请访问
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <system.serviceModel>
    <services>
      <service name="CalculatorService">
        <endpoint
          binding="ws2007HttpBinding"
          contract="CalculatorContract"
          bindingConfiguration="transportWS2007HttpBinding" />
      </service>
    </services>
    <behaviors>
      <serviceBehaviors>
        <behavior>
          <serviceMetadata httpGetEnabled="true" httpGetUrl="mex" />
          <serviceDebug includeExceptionDetailInFaults="true" />
          <serviceCredentials>
            <!--服务端的证书 IIS 自带-->

            <!--验证客户端证书的位置，里面的证书都会被认证通过-->
            <clientCertificate>
              <authentication certificateValidationMode="PeerOrChainTrust"/>
            </clientCertificate>

          </serviceCredentials>
        </behavior>
      </serviceBehaviors>
    </behaviors>
    <serviceHostingEnvironment multipleSiteBindingsEnabled="true">
      <serviceActivations>
        <add relativeAddress="CalculatorService.svc" service="Service.CalculatorService,Service" />
      </serviceActivations>
    </serviceHostingEnvironment>
    <bindings>
      <ws2007HttpBinding>
        <binding name="transportWS2007HttpBinding">
          <!-- 设置绑定模式为 TransportWithMessageCredential -->
          <!-- 这是一种混合模式，机密性、一致性和客户端对服务端的验证使用 SSL -->
          <!-- 服务端对客户端身份的验证使用 Message，此时需要指定客户端的证书 -->
          <security mode="TransportWithMessageCredential">
            <message clientCredentialType="Certificate" />
          </security>
        </binding>
      </ws2007HttpBinding>
    </bindings>
  </system.serviceModel>
</configuration>