<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <system.serviceModel>
    <client>
      <endpoint
        address="http://127.0.0.1:9827/CalculatorService"
        binding="ws2007HttpBinding"
        bindingConfiguration="messageWS2007HttpBinding"
        contract="CalculatorContract"
        name="httpSelfPointMessage"/>
      <endpoint
        address="net.tcp://127.0.0.1/CalculatorService"
        binding="netTcpBinding"
        bindingConfiguration="transportTcpBinding"
        contract="CalculatorContract"
        name="tcpPoint"/>
    </client>
    <bindings>
      <ws2007HttpBinding>
        <binding name="messageWS2007HttpBinding">
          <!-- 设置绑定模式为 Message -->
          <security mode="Message">
            <!--  设置客户的认证方式为 Windows-->
            <message clientCredentialType="Windows"/>
          </security>
        </binding>
      </ws2007HttpBinding>
      <netTcpBinding>
        <binding name="transportTcpBinding">
          <security mode="Transport">
            <!--  设置客户的认证方式为 Windows -->
            <transport clientCredentialType="Windows" />
          </security>
        </binding>
      </netTcpBinding>
    </bindings>
  </system.serviceModel>
</configuration>
