<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
  <appSettings>
    <add key="webpages:Version" value="2.0.0.0"/>
    <add key="webpages:Enabled" value="false"/>
    <add key="PreserveLoginUrl" value="true"/>
    <add key="ClientValidationEnabled" value="true"/>
    <add key="UnobtrusiveJavaScriptEnabled" value="true"/>
    <add key="ResourceVersion" value="201402121200"/>
    <!--应用号-->
    <add key="AppID" value="880301"/>
    <!--网站运行的环境；Dev,Testing,UAT,Product-->
    <add key="RunEnvironment" value="Dev"/>
    <add key="ESBUrl" value="http://soa.fws.qa.nt.ctripcorp.com/SOA.ESB/Ctrip.SOA.ESB.asmx" />
    <add key="ESBUserID" value="880301"/>
    <add key="EnableDemoData" value="false"/>
    <add key="ServiceUrl" value="http://localhost:2715/OpenAPIWS.asmx"/>
    <add key="DeliveryUrl" value="http://accint.fat6.qa.nt.ctripcorp.com"/>
    <add key="CreditCardUrl" value="http://service.fat6.qa.nt.ctripcorp.com"/>
    <add key="AuthorESBUserID" value="880301"/>
    <add key="CertGateway" value="http://www.dev.sh.ctriptravel.com:85"/>
    <add key="LogOutUrl" value="http://www.dev.sh.ctriptravel.com:85/cii/share/logout.asp"/>
    <add key="CookieDesKey" value="oS5FnlRtiStWqDdE3X+yeLisuqzW++hJ"/>
    <add key="EntryWayUrl" value="/EntryWay.aspx"/>
    <add key="FaxPreviewUrl" value="http://localhost:2552/SendMessage/FaxToVendorTemplateForExt"/>
    <add key="BookProductDetailUrl" value="http://car.dev.sh.ctriptravel.com/CarBooking/CarbookingV2"/>
    <add key="FlightOrderDetailUrl" value="http://service.fat3.qa.nt.ctripcorp.com/cii/Flight/Process/Flt_OperateOrder.asp?orderid={0}"/>
    <!--支付设置-->
    <add key="MerchantID" value="200030"/>
    <add key="MerchantKey" value="dfef90b4ba8643368c27cce1328caa"/>
    <add key="PaymentGateWay" value="http://payment.fat47.qa.nt.ctripcorp.com/Payment-Base-OfflineBillWebV2/PayEntry.aspx"/>
    <add key="CarUrl" value="http://localhost:50692/"/>
    <!--日志中心-->
    <add key="LoggingServer.V2.IP" value="collector.logging.fws.qa.nt.ctripcorp.com"/>
    <add key="LoggingServer.V2.Port" value="63100" />
    <!--Car.Framework-->
    <add key="Car.Engine.Container" value="Car.Framework.Castle.CastleContainer, Car.Framework.Castle"/>
    <add key="Car.Caching.Default" value="cluster"/>
    <add key="Car.Caching.ClusterName" value="CarCache"/>
    <add key="Car.Metric.Enabled" value="true"/>
    <add key="FxConfigServiceUrl" value="http://ws.config.framework.fws.qa.nt.ctripcorp.com/configws/"/>
    <add key="SOA.ServiceRegistry.Url" value="http://ws.soa.fws.qa.nt.ctripcorp.com/registry/api"/>
    <add key="SOA.ServiceRegistry.TestSubEnv" value="fws"/>
    <!--Car.Framework.BusinessLog-->
    <add key="Car.Messaging.Log.Exchange" value="car.log"/>
    <add key="Car.Messaging.Log.Producer" value="880601_df72b0a4"/>
    <add key="Car.Messaging.Log.Consumer" value="880601_df72b0a4"/>
    <add key="Car.Messaging.Log.Type" value="queue"/>
    <add key="CmessageServiceUri" value="http://collector1.cmessaging.arch.fws.qa.nt.ctripcorp.com/collector/Service/CMessageConfigServer.asmx"/>
    <!--给供应商发邮件 邮箱配置-->
    <add key="MailToVendor.SenderAddress" value="yanfangwang"/>
    <add key="MailToVendor.SenderPassword" value="123!@#qwe"/>
    <!--用车通知 OP订单组接收邮件-->
    <add key="NotificationOPReceiverEmail" value="wang.jiea@Ctrip.com"/>

  </appSettings>

</configuration>