<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <system.serviceModel>
    <client>
      <endpoint 
        address="http://127.0.0.1/WebHosting/CalculatorService.svc" 
        binding="ws2007HttpBinding" 
        contract="CalculatorContract" 
        name="httpPoint"/>
      <endpoint 
        address="net.tcp://127.0.0.1/WebHosting/CalculatorService.svc" 
        binding="netTcpBinding" 
        contract="CalculatorContract" 
        name="tcpPoint"/>
      <endpoint 
        address="net.pipe://localhost/WebHosting/CalculatorService.svc" 
        binding="netNamedPipeBinding" 
        contract="CalculatorContract" 
        name="pipePoint"/>
    </client>
  </system.serviceModel>
</configuration>
