<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <system.serviceModel>
        <client>
          <endpoint address="http://127.0.0.1:9999/Calculatorservice" 
                    binding="wsHttpBinding" 
                    contract="CalculatorContract" 
                    name="httpPoint">
          </endpoint>
        </client>
    </system.serviceModel>
</configuration>
