<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<system.serviceModel>
		<bindings>
			<wsHttpBinding>
				<binding name="SecureMessageUserName">
					<security mode="Message">
						<message clientCredentialType="UserName"/>
					</security>
				</binding>
			</wsHttpBinding>
		</bindings>
			<services>
   <service
    name="DerivativesCalculator.DerivativesCalculatorServiceType" behaviorConfiguration="DerivativesCalculatorService">
    <endpoint address="Calculator" binding="wsHttpBinding" 
     contract="DerivativesCalculator.IDerivativesCalculator" />
	   <endpoint address="AnotherCalculator" binding="wsHttpBinding" bindingConfiguration="SecureMessageUserName" 
     contract="DerivativesCalculator.IDerivativesCalculator" />
    <host>
     <baseAddresses>
	  <add baseAddress="http://localhost:8000/Derivatives/" />
      <add baseAddress="net.tcp://localhost:8010/Derivatives/" />
     </baseAddresses>
    </host>
   </service>
  </services>
	<behaviors>
	   <serviceBehaviors>
		<behavior name="DerivativesCalculatorService">
			<serviceCredentials>
				<userNameAuthentication userNamePasswordValidationMode="Custom" customUserNamePasswordValidatorType="DerivativesCalculator.MyUserNamePasswordValidator,Host"/>
				<serviceCertificate findValue="CN=FabrikamEnterprises"/>
			</serviceCredentials>
		 <serviceMetadata httpGetEnabled="true" />
		</behavior>
	   </serviceBehaviors>
	</behaviors>
	</system.serviceModel>
</configuration>