<?xml version="1.0" encoding="utf-8"?>

<!--
  有关如何配置 ASP.NET 应用程序的详细信息，请访问
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>
  <system.web>
    <compilation debug="true" targetFramework="4.0" />
  </system.web>
  <connectionStrings>
    <add name="EventTickets" connectionString="Data Source=(LocalDB)\v11.0;AttachDbFilename=|DataDirectory|\EventTickets.mdf;Integrated Security=True;User Instance=True"/>
  </connectionStrings>
  <system.serviceModel>
    <client>
      <endpoint
      address="http://localhost:25076/TicketService.svc"
      binding="wsHttpBinding"
      contract="ASPPatterns.Chap6.EventTickets.Contracts.ITicketService"/>
    </client>
  </system.serviceModel>

</configuration>
