<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="SecureTransport">
          <security mode="Transport">
            <transport clientCredentialType="Ntlm"/>
          </security>
        </binding>
      </basicHttpBinding>
      <netTcpBinding>
        <binding name="SecureTransport">
          <security mode="Transport">
            <transport clientCredentialType="None"/>
          </security>
        </binding>
      </netTcpBinding>
    </bindings>
    <behaviors>
      <endpointBehaviors>
        <behavior name="TCPEndpoint">
          <clientCredentials>
            <serviceCertificate>
              <authentication revocationMode="NoCheck"/>
            </serviceCertificate>
          </clientCredentials>
        </behavior>
        <behavior name="HTTPSEndpoint">
          <clientCredentials>
            <windows allowNtlm="true"/>
          </clientCredentials>
        </behavior>
      </endpointBehaviors>
    </behaviors>
    <client>
      <endpoint address="https://fabrikamenterprises:8020/Derivatives/Calculator" binding="basicHttpBinding" bindingConfiguration="SecureTransport" behaviorConfiguration="HTTPSEndpoint" contract="DerivativesCalculator.IDerivativesCalculator" name="SelfHostedHTTPSService"/>
      <endpoint address="net.tcp://fabrikamenterprises:8010/Derivatives/Calculator" binding="netTcpBinding" bindingConfiguration="SecureTransport" behaviorConfiguration="TCPEndpoint" contract="DerivativesCalculator.IDerivativesCalculator" name="SelfHostedTCPService"/>
      <endpoint address="https://fabrikamenterprises/SecurityBasics/service.svc/Calculator" binding="basicHttpBinding" bindingConfiguration="SecureTransport" contract="DerivativesCalculator.IDerivativesCalculator" name="WebHostedHTTPSService"/>
    </client>
  </system.serviceModel>
</configuration>
