<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <system.serviceModel>
    <client>
      <endpoint
        name="greetingService"
        address="net.msmq://zhangjin-pc/private/queue4demo"
        binding="netMsmqBinding"
        contract="IGreetingService"
        bindingConfiguration="btking" />
    </client>
    <bindings>
      <netMsmqBinding>
        <binding name="btking" exactlyOnce="true">
          <security mode="None" />
        </binding>
      </netMsmqBinding>
    </bindings>
  </system.serviceModel>
</configuration>