<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <system.serviceModel>
    <client>
      <endpoint
        address="http://www.zhangjin.me/WebHosting/CalculatorService.svc"
        binding="basicHttpBinding"
        bindingConfiguration="transportBasicHttpBinding"
        contract="CalculatorContract"
        name="iisBasic1"/>
      <endpoint
        address="https://www.zhangjin.me/WebHosting/CalculatorService.svc"
        binding="basicHttpBinding"
        bindingConfiguration="transportBasicHttpBinding2"
        contract="CalculatorContract"
        name="iisBasic2"/>
      <endpoint
        address="https://www.zhangjin.me:3721/CalculatorService"
        binding="ws2007HttpBinding"
        bindingConfiguration="transportws2007HttpBinding"
        contract="CalculatorContract"
        name="httpsSelfPoint"/>
    </client>
    <bindings>

      <basicHttpBinding>
        <binding name="transportBasicHttpBinding">
          <!-- TransportCredentialOnly 不需要服务端证书-->
          <security mode="TransportCredentialOnly">
            <transport clientCredentialType="Basic" />
          </security>
        </binding>
        <binding name="transportBasicHttpBinding2">
          <!-- TransportWithMessageCredential 和 Transport 需要服务端证书-->
          <!-- TransportWithMessageCredential 需要指定 mssesage 节点 -->
          <!-- Transport 需要指定 transport 节点 -->
          <security mode="TransportWithMessageCredential">
            <transport clientCredentialType="Basic" />
            <message clientCredentialType="UserName"/>
          </security>
        </binding>
      </basicHttpBinding>

      <ws2007HttpBinding>
        <binding name="transportws2007HttpBinding">
          <!-- TransportWithMessageCredential 和 Transport 需要服务端证书-->
          <!-- TransportWithMessageCredential 需要指定 mssesage 节点 -->
          <!-- Transport 需要指定 transport 节点 -->
          <security mode="TransportWithMessageCredential">
            <transport clientCredentialType="Basic" />
            <message clientCredentialType="UserName"/>
          </security>
        </binding>
      </ws2007HttpBinding>

    </bindings>
  </system.serviceModel>
</configuration>
