@using System.Linq.Expressions;
@using System.Reflection;
@using Chap4.Models;


@model DemoModel

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Model 元数据</title>
</head>
<body>
    @Html.EditorForModel()
</body>
</html>
