<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <system.serviceModel>
      <client>
        <endpoint
            address="http://192.168.1.106/CalculatorService"
            binding="basicHttpBinding"
            contract="CalculatorContract"
            bindingConfiguration="btking"
            name="btking" />
      </client>
      <bindings>
        <basicHttpBinding>
          <binding name="btking">
            <security mode ="TransportCredentialOnly">
              <transport clientCredentialType="Basic" />
            </security>
          </binding>
        </basicHttpBinding>
      </bindings>
    </system.serviceModel>
</configuration>