<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <system.serviceModel>
    <services>
      <service behaviorConfiguration="showError" name="CalculatorService">
        <endpoint 
            address="CalculatorService"
            binding="wsHttpBinding" 
            contract="CalculatorContract">
        </endpoint>
        <host>
          <baseAddresses>
            <add baseAddress="http://127.0.0.1:9999" />
          </baseAddresses>
        </host>
      </service>
    </services>
    
    <behaviors>
      <serviceBehaviors>
        <behavior name="httpMex">
          <serviceMetadata httpGetEnabled="true" httpGetUrl="CalculatorService/mex" />
        </behavior>
        <behavior name="showError">
          <serviceDebug includeExceptionDetailInFaults="true"/>
        </behavior>
      </serviceBehaviors>
    </behaviors>

  </system.serviceModel>
</configuration>