<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <system.serviceModel>
    <services>
      <service name="CalculatorService" behaviorConfiguration="sslOverTCP">
        <endpoint
          address="http://www.zhangjin.me:9827/CalculatorService"
          binding="ws2007HttpBinding"
          bindingConfiguration="messageWS2007HttpBinding"
          contract="CalculatorContract">
        </endpoint>
        <endpoint
          address="https://www.zhangjin.me:3721/CalculatorService"
          binding="ws2007HttpBinding"
          bindingConfiguration="transportWS2007HttpBinding"
          contract="CalculatorContract">
        </endpoint>
        <endpoint
          address="net.tcp://www.zhangjin.me/CalculatorService"
          binding="netTcpBinding"
          bindingConfiguration="transportTcpBinding"
          contract="CalculatorContract">
        </endpoint>
      </service>
    </services>
    <behaviors>
      <serviceBehaviors>
        <behavior name="sslOverTCP">
          <serviceDebug includeExceptionDetailInFaults="true"/>
          <serviceCredentials>
            <!--服务端的证书-->
            <serviceCertificate
              storeLocation="LocalMachine"
              storeName="My"
              x509FindType="FindBySubjectName"
              findValue="www.zhangjin.me"/>

            <!--验证客户端证书的位置，里面的证书都会被认证通过-->
            <clientCertificate>
              <authentication certificateValidationMode="PeerOrChainTrust"/>
            </clientCertificate>

          </serviceCredentials>
        </behavior>
      </serviceBehaviors>
    </behaviors>
    <bindings>
      <ws2007HttpBinding>
        <binding name="messageWS2007HttpBinding">
          <!-- 设置绑定模式为 Message -->
          <!-- 此时服务如要指定一个证书进行加密，但是传输协议还是 http -->
          <security mode="Message">
            <!--  设置客户的认证方式为证书 -->
            <message clientCredentialType="Certificate"/>
          </security>
        </binding>
        <binding name="transportWS2007HttpBinding">
          <!-- 设置绑定模式为 TransportWithMessageCredential -->
          <!-- 这是一种混合模式，机密性、一致性和客户端对服务端的验证使用 SSL -->
          <!-- 服务端对客户端身份的验证使用 Message，此时需要指定客户端的证书 -->
          <security mode="TransportWithMessageCredential">
            <!--  设置客户的认证方式为证书 Transport-->
            <message clientCredentialType="Certificate"/>
          </security>
        </binding>
      </ws2007HttpBinding>
      <netTcpBinding>
        <binding name="transportTcpBinding">
          <security mode="Transport">
            <transport clientCredentialType="None" />
          </security>
        </binding>
      </netTcpBinding>
    </bindings>

  </system.serviceModel>
</configuration>
