<?xml version="1.0" encoding="utf-8"?>

<!--
  有关如何配置 ASP.NET 应用程序的详细信息，请访问
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>
  <system.web>
    <httpHandlers>
      <!-- CServiceStack: Handler mapping for IIS 6.0, VS.NET dev web server -->
      <add path="*" type="CServiceStack.WebHost.Endpoints.CServiceStackHttpHandlerFactory, CServiceStack.Mega" verb="*" />
    </httpHandlers>
  </system.web>
  <!-- 
      The system.webServer section is required for running ASP.NET AJAX under Internet
      Information Services 7.0.  It is not necessary for previous version of IIS.
  -->
  <system.webServer>
    <modules runAllManagedModulesForAllRequests="true" />
    <validation validateIntegratedModeConfiguration="false" />
    <handlers>
      <add path="*" name="CServiceStack.Factory" type="CServiceStack.WebHost.Endpoints.CServiceStackHttpHandlerFactory, CServiceStack.Mega" verb="*" preCondition="integratedMode" resourceType="Unspecified" allowPathInfo="true" />
    </handlers>
  </system.webServer>


</configuration>
