<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <add name="AspNetDb" connectionString="Server=.\SQLExpress;Database=AspNetDb;Integrated Security=True"/>
  </connectionStrings>
  <system.web>
    <membership defaultProvider="myProvider">
      <providers>
        <add name="myProvider"
             connectionStringName="AspNetDb"
             applicationName="MembershipAuthenticationDemo"
             requiresQuestionAndAnswer="false"
             type="System.Web.Security.SqlMembershipProvider, System.Web, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a"/>
      </providers>
    </membership>
  </system.web>
  <system.serviceModel>
    <services>
      <service name="CalculatorService">
        <endpoint address="http://192.168.1.106/CalculatorService"
                  binding="basicHttpBinding" bindingConfiguration="btking"
                  contract="CalculatorContract" />
      </service>
    </services>
    <bindings>
      <basicHttpBinding>
        <binding name="btking">
          <security mode="TransportCredentialOnly">
            <transport clientCredentialType="Basic" />
          </security>
        </binding>
      </basicHttpBinding>
    </bindings>

  </system.serviceModel>
</configuration>