<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="SecureTransport">
          <security mode="Transport">
            <transport clientCredentialType="None"/>
          </security>
        </binding>
      </basicHttpBinding>
    </bindings>
    <services>
      <service name=
"DerivativesCalculator.DerivativesCalculatorServiceType"
 behaviorConfiguration="DerivativesCalculatorService">
        <endpoint
					address="Calculator"
					binding="basicHttpBinding"
				 bindingConfiguration="SecureTransport"
					contract=
"DerivativesCalculator.IDerivativesCalculator"
				/>
      </service>
    </services>
    <behaviors>
      <serviceBehaviors>
        <behavior name="DerivativesCalculatorService">
          <serviceMetadata httpGetEnabled="true" />
        </behavior>
      </serviceBehaviors>
    </behaviors>
  </system.serviceModel>
</configuration>