<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <system.serviceModel>
        <client>
            <endpoint address="http://127.0.0.1:3721/CalculatorService" binding="ws2007HttpBinding"
                contract="CalculatorContract" name="httpPoint" />
            <endpoint address="http://localhost:9527/CalculatorService.svc"
                binding="ws2007HttpBinding" contract="CalculatorContract"
                name="httpPointWeb" />
            <endpoint address="http://127.0.0.1:3721/instrumentationservice"
                binding="ws2007HttpBinding" bindingConfiguration="" contract="Service.Interface.IEventLog"
                name="eventLogService" />
            <endpoint address="http://127.0.0.1:3721/instrumentationservice"
                binding="ws2007HttpBinding" bindingConfiguration="" contract="Service.Interface.IInstrumentation"
                name="instrumentationservice" />
            <endpoint address="http://192.168.10.106:3721/MessageRouteService"
                binding="wsDualHttpBinding" bindingConfiguration="" contract="Service.Interface.IMessageRoute"
                name="MessageRouteService" />
        </client>
    </system.serviceModel>
</configuration>