<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <system.serviceModel>
    <services>
      <service name="CalculatorService">
        <endpoint
          address="https://www.zhangjin.me:3721/CalculatorService"
          binding="ws2007HttpBinding"
          bindingConfiguration="transportws2007HttpBinding"
          contract="CalculatorContract">
        </endpoint>
      </service>
    </services>
    <bindings>
      <ws2007HttpBinding>
        <binding name="transportws2007HttpBinding">
          <!-- TransportWithMessageCredential 和 Transport 需要服务端证书-->
          <!-- TransportWithMessageCredential 需要指定 mssesage 节点 -->
          <!-- Transport 需要指定 transport 节点 -->
          <security mode="TransportWithMessageCredential">
            <transport clientCredentialType="Basic" />
            <message clientCredentialType="UserName"/>
          </security>
        </binding>
      </ws2007HttpBinding>
      
    </bindings>
  </system.serviceModel>
</configuration>
