<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<system.serviceModel>
		<bindings>
			<wsHttpBinding>
				<binding name="SecureMessageUserName">
					<security mode="Message">
						<message clientCredentialType="UserName"/>
					</security>
				</binding>
			</wsHttpBinding>
		</bindings>
 		<behaviors>
     <endpointBehaviors>
       <behavior name="UserName">
			 <clientCredentials>
				 <serviceCertificate>
					 <authentication revocationMode="NoCheck"/>
				 </serviceCertificate>
			 </clientCredentials>
		 </behavior>
     </endpointBehaviors>
   </behaviors>
		<client>
			<endpoint
    address="http://localhost:8000/Derivatives/Calculator"
                binding="wsHttpBinding" 
    contract="DerivativesCalculator.IDerivativesCalculator"
    name="DerivativesCalculatorServiceWindows"/>
			<endpoint
    address="http://FabrikamEnterprises:8000/Derivatives/AnotherCalculator"
                binding="wsHttpBinding" bindingConfiguration="SecureMessageUserName" behaviorConfiguration="UserName"
    contract="DerivativesCalculator.IDerivativesCalculator"
    name="DerivativesCalculatorServiceUserName"/>
		</client>
	</system.serviceModel>
</configuration>