<?xml version="1.0" encoding="UTF-8"?>
<!--
  有关如何配置 ASP.NET 应用程序的详细信息，请访问
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <system.serviceModel>
    <services>
      <service name="CalculatorService">
        <endpoint binding="basicHttpBinding" contract="CalculatorContract" bindingConfiguration="transportBasicHttpBinding" />
        <endpoint binding="basicHttpBinding" contract="CalculatorContract" bindingConfiguration="transportBasicHttpBinding2" />
      </service>
    </services>
    <behaviors>
      <serviceBehaviors>
        <behavior>
          <serviceMetadata httpGetEnabled="true" httpGetUrl="mex" />
          <serviceDebug includeExceptionDetailInFaults="true" />
        </behavior>
      </serviceBehaviors>
    </behaviors>
    <serviceHostingEnvironment multipleSiteBindingsEnabled="true">
      <serviceActivations>
        <add relativeAddress="CalculatorService.svc" service="Service.CalculatorService,Service" />
      </serviceActivations>
    </serviceHostingEnvironment>
    <bindings>
      <basicHttpBinding>
        <binding name="transportBasicHttpBinding">
          <!-- TransportCredentialOnly 不需要服务端证书-->
          <security mode="TransportCredentialOnly">
            <transport clientCredentialType="Basic" />
          </security>
        </binding>
        <binding name="transportBasicHttpBinding2">
          <!-- TransportWithMessageCredential 和 Transport 需要服务端证书-->
          <!-- TransportWithMessageCredential 需要指定 mssesage 节点 -->
          <!-- Transport 需要指定 transport 节点 -->
          <security mode="TransportWithMessageCredential">
            <transport clientCredentialType="Basic" />
            <message clientCredentialType="UserName"/>
          </security>
        </binding>
      </basicHttpBinding>
    </bindings>
  </system.serviceModel>
</configuration>