<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <system.serviceModel>
    <client>
      <endpoint
        address="https://www.zhangjin.me/WebHosting/CalculatorService.svc"
        binding="basicHttpBinding"
        bindingConfiguration="transportBasicHttpBinding"
        contract="CalculatorContract"
        name="iisBasic"/>
      <endpoint
        address="http://www.zhangjin.me/WebHosting/CalculatorService.svc"
        binding="ws2007HttpBinding"
        bindingConfiguration="transportws2007HttpBinding"
        contract="CalculatorContract"
        behaviorConfiguration="peerTrustSvcCertValidation"
        name="iisWS2007"/>
    </client>
    <bindings>

      <basicHttpBinding>
        <binding name="transportBasicHttpBinding">
          <!-- TransportWithMessageCredential 和 Transport 需要服务端证书-->
          <!-- TransportWithMessageCredential 需要指定 mssesage 节点 -->
          <!-- Transport 需要指定 transport 节点 -->
          <security mode="TransportWithMessageCredential">
            <message clientCredentialType="UserName"/>
          </security>
        </binding>
      </basicHttpBinding>

      <ws2007HttpBinding>
        <binding name="transportws2007HttpBinding">
          <!-- 由于使用了 Messgae，所以需要指定一个服务端证书，但是协议还是 http-->
          <security mode="Message">
            <message clientCredentialType="UserName"/>
          </security>
        </binding>
      </ws2007HttpBinding>
    </bindings>

    <behaviors>
      <endpointBehaviors>
        <!-- 添加到服务端证书的信任 -->
        <behavior name="peerTrustSvcCertValidation">
          <clientCredentials>
            <serviceCertificate>
              <authentication certificateValidationMode="PeerOrChainTrust"/>
            </serviceCertificate>
          </clientCredentials>
        </behavior>
      </endpointBehaviors>
    </behaviors>
    
  </system.serviceModel>
</configuration>
