<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <system.serviceModel>
    <client>
      <endpoint
          address="net.tcp://localhost:3721/CalculatorService"
          binding="netTcpBinding"
          contract="CalculatorContract"
          name="CalculatorService">
      </endpoint>
    </client>

  </system.serviceModel>
</configuration>