@{
    ViewBag.Title = "ModelState";
}

@model ModelStateDictionary

<h2>ModelState</h2>

<table>
    <tr><th>Key</th><th>Value</th></tr>
    @foreach (var item in Model)
    {
        <tr>
            <td>@item.Key</td>
            <td>@item.Value.Value.ConvertTo(typeof(string))</td>
        </tr>
    }
</table>
