<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <system.serviceModel>
        <services>
            <service behaviorConfiguration="httpMex" name="CalculatorService">
                <endpoint address="http://127.0.0.1:3721/CalculatorService" 
                          behaviorConfiguration="basicEndPointBehavior"
                          binding="ws2007HttpBinding" contract="CalculatorContract">
                </endpoint>
              <endpoint address="http://127.0.0.1:9527/calculatorservice"
                        binding="customBinding"
                        bindingConfiguration="myBinding"
                        contract="CalculatorContract" />
            </service>
        </services>
      
      <behaviors>
        <endpointBehaviors>
          <behavior name="basicEndPointBehavior">
            <dataContractSerializer />
          </behavior>
        </endpointBehaviors>
        <serviceBehaviors>
          <behavior name="httpMex">
            <serviceMetadata httpGetEnabled="true" httpGetUrl="http://127.0.0.1:3721/CalculatorService/mex" />
          </behavior>
        </serviceBehaviors>
      </behaviors>

    <bindings>
      <customBinding>
        <binding name="myBinding">
          <lifeCycleTracking />
          <textMessageEncoding  />
          <httpTransport />
        </binding>
      </customBinding>
    </bindings>

    <extensions>
      <bindingElementExtensions>
        <add name="lifeCycleTracking" type="CustomChannel.SimpleDatagramBindingElementExtensionElement,CustomChannel"/>
      </bindingElementExtensions>
    </extensions>

    </system.serviceModel>
</configuration>