<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<system.serviceModel>
		<client>
			<endpoint
				address="http://localhost:8000/Derivatives/Calculator"
                binding="wsHttpBinding" 
				behaviorConfiguration="Windows"
				contract="DerivativesCalculator.IDerivativesCalculator"
				name="DerivativesCalculatorServiceWindows"/>
		</client>
		<behaviors>
			<endpointBehaviors>
				<behavior name="Windows">
					<clientCredentials>
						<windows 
							allowedImpersonationLevel="Impersonation" />
					</clientCredentials>
				</behavior>
			</endpointBehaviors>
		</behaviors>
	</system.serviceModel>
</configuration>