<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <system.serviceModel>
        <services>
            <service name="CalculatorService" behaviorConfiguration="mex">
                <endpoint 
                  address="CalculatorService" 
                  binding="basicHttpBinding"
                  contract="CalculatorContract">
                </endpoint>
                <endpoint 
                  address="BTKing" 
                  binding="mexHttpBinding" 
                  contract="IMetadataExchange">
                </endpoint>              
              <host>
                    <baseAddresses>
                        <add baseAddress="http://localhost:3721" />
                    </baseAddresses>
                </host>
            </service>
        </services>
      
      <behaviors>
        <serviceBehaviors>
          <behavior name="mex">
            <serviceMetadata httpGetEnabled="false"/>
          </behavior>
        </serviceBehaviors>
      </behaviors>

    </system.serviceModel>
</configuration>