@{
    Layout = null;
}

@using Chap5.Models

@model Contact

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>修改 Contact 信息</title>
</head>
<body>
    @using (Html.BeginForm())
    {
        @Html.EditorForModel()
        @Html.EditorFor(m=>m.Address)
        <input type="submit" value="保存" />
    }
</body>
</html>
