<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <system.serviceModel>
    <services>
      <service name="CalculatorService" behaviorConfiguration="mex">
        <endpoint
          address="CalculatorService"
          binding="netTcpBinding"
          contract="CalculatorContract">
        </endpoint>
        <host>
          <baseAddresses>
            <add baseAddress="net.tcp://localhost:3721/" />
          </baseAddresses>
        </host>
      </service>
    </services>
    <behaviors>
      <serviceBehaviors>
        <behavior name="mex">
          <serviceMetadata httpGetEnabled="false"/>
        </behavior>
      </serviceBehaviors>
    </behaviors>
  </system.serviceModel>
</configuration>