<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <system.serviceModel>
        <services>
            <service behaviorConfiguration="httpMex" name="CalculatorService">
                <endpoint address="CalculatorService" behaviorConfiguration="basicEndPointBehavior"
                    binding="basicHttpBinding" contract="CalculatorContract">
                </endpoint>
                <host>
                    <baseAddresses>
                        <add baseAddress="http://ZhangJin-PC:3721" />
                    </baseAddresses>
                </host>
            </service>
        </services>
      
      <behaviors>
        <endpointBehaviors>
          <behavior name="basicEndPointBehavior">
            <dataContractSerializer />
          </behavior>
        </endpointBehaviors>
        <serviceBehaviors>
          <behavior name="httpMex">
            <serviceMetadata httpGetEnabled="true" httpGetUrl="CalculatorService/mex" />
            <serviceDebug includeExceptionDetailInFaults="true" />
          </behavior>
        </serviceBehaviors>
      </behaviors>

    </system.serviceModel>
</configuration>