<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <system.serviceModel>
    <services>
      <service name="CalculatorService">
        <endpoint
          address="http://www.zhangjin.me:9827/CalculatorService"
          binding="ws2007HttpBinding"
          bindingConfiguration="messageWS2007HttpBinding"
          contract="CalculatorContract">
        </endpoint>
        <endpoint
          address="net.tcp://www.zhangjin.me/CalculatorService"
          binding="netTcpBinding"
          bindingConfiguration="transportTcpBinding"
          contract="CalculatorContract">
        </endpoint>
      </service>
    </services>
    <bindings>
      <ws2007HttpBinding>
        <binding name="messageWS2007HttpBinding">
          <!-- 设置绑定模式为 Message -->
          <!-- 如果客户端认证方式为非 Windows，则需要指定一个服务端证书 -->
          <security mode="Message">
            <!--  设置客户的认证方式为 Windows -->
            <message clientCredentialType="Windows"/>
          </security>
        </binding>
      </ws2007HttpBinding>
      <netTcpBinding>
        <binding name="transportTcpBinding">
          <security mode="Transport">
            <transport clientCredentialType="Windows" />
          </security>
        </binding>
      </netTcpBinding>
    </bindings>

  </system.serviceModel>
</configuration>
