<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <system.serviceModel>
    <services>
      <service behaviorConfiguration="sslOverTCP" name="CalculatorService">
        <endpoint 
            address="net.tcp://www.zhangjin.me/CalculatorService"
            binding="netTcpBinding" 
            bindingConfiguration="transportTcpBinding"
            contract="CalculatorContract">
        </endpoint>
        <endpoint
          address="https://www.zhangjin.me:3721/CalculatorService"
          binding="ws2007HttpBinding"
          bindingConfiguration="transportWS2007HttpBinding"
          contract="CalculatorContract">
        </endpoint>
      </service>
    </services>
    
    <behaviors>
      <serviceBehaviors>
        <behavior name="sslOverTCP">
          <serviceCredentials>
            <serviceCertificate 
              storeLocation="LocalMachine" 
              storeName="My" 
              x509FindType="FindBySubjectName" 
              findValue="www.zhangjin.me"/>
          </serviceCredentials>
        </behavior>
      </serviceBehaviors>
    </behaviors>

    <bindings>
      <netTcpBinding>
        <binding name="transportTcpBinding">
          <security mode="Transport">
            <transport clientCredentialType="None" />
          </security>
        </binding>
      </netTcpBinding>
      <ws2007HttpBinding>
        <binding name="transportWS2007HttpBinding">
          <security mode="Transport">
            <transport clientCredentialType="None" />
          </security>
        </binding>
      </ws2007HttpBinding>
    </bindings>

  </system.serviceModel>
</configuration>

<!--
如果是 SSL Over TCP，则服务端需要一个证书

SSL Over TCP
  传输模式为 transport，并且为客户端凭证类型为非 Windows 认证（None 或 Cerfificate）
  传输模式为 Mixed 安全模式
-->