<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <system.serviceModel>
        <client>
          <endpoint 
              address="http://localhost:3721/CalculatorService" 
              binding="ws2007HttpBinding"
              contract="CalculatorContract" 
              name="httpPoint">
          </endpoint>
          
          <endpoint 
              address="http://localhost:9527/CalculatorService.svc"
              binding="ws2007HttpBinding" 
              contract="CalculatorContract"
              name="httpPointWeb">
            </endpoint>
        </client>

    </system.serviceModel>
</configuration>