<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<system.serviceModel>
		<bindings>
   <basicHttpBinding>
    <binding name="SecureTransport">
		<security mode="Transport">
			<transport clientCredentialType="Ntlm"/>
		</security>
    </binding>
   </basicHttpBinding>
			<netTcpBinding>
				<binding name="SecureTransport">
					<security mode="Transport">
						<transport clientCredentialType="None"/>
					</security>
				</binding>
			</netTcpBinding>
	</bindings>
  		<services>
   <service name="DerivativesCalculator.DerivativesCalculatorServiceType" behaviorConfiguration="DerivativesCalculatorService">
    <endpoint address="Calculator" binding="basicHttpBinding" bindingConfiguration="SecureTransport" contract="DerivativesCalculator.IDerivativesCalculator"/>
	   <endpoint address="Calculator" binding="netTcpBinding" bindingConfiguration="SecureTransport" contract="DerivativesCalculator.IDerivativesCalculator"/>
    <host>
     <baseAddresses>
	  <add baseAddress="http://localhost:8000/Derivatives/"/>
      <add baseAddress="https://localhost:8020/Derivatives/"/>
      <add baseAddress="net.tcp://localhost:8010/Derivatives/"/>
     </baseAddresses>
    </host>
   </service>
  </services>
	<behaviors>
	   <serviceBehaviors>
		<behavior name="DerivativesCalculatorService">
		 <serviceCredentials>
		  <serviceCertificate findValue="CN=FabrikamEnterprises"/>
		 </serviceCredentials>
		 <serviceMetadata httpGetEnabled="true"/>
		</behavior>
	   </serviceBehaviors>
	</behaviors>
	</system.serviceModel>
</configuration>
